body {
    background-color: aliceblue;
}
.section{
    height: 30vh;
    width: 100%;
    border: bold;
    background-image: linear-gradient(rgba(233, 228, 228, 0.6),rgba(103, 207, 241, 0.6));
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px 0 black;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 25px;
    

}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;

}
nav ul li a{
    color: rgb(15, 14, 14);
    text-decoration: none;
    font-weight: bold;

}
nav ul li a:hover{
    color:blueviolet;
    transition: .3s;

}
button{
    border: bold;
    background: whitesmoke;
    padding: 4px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 13px;
    transition: .4s;
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#aboutMe{
    text-align: center;
}
#edu{
    text-align: center;
}
#wrkHis{
    text-align: center;
}
.form input {
width: 200px;
}
.lastResult {
background-color: rgb(215, 241, 142);
padding: 3px;
border-radius: 10px;
padding-left: 30%;
}
.guessSubmit{
    border: bold;
    background: rgb(253, 141, 141);
    padding: 4px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 13px;
    transition: .4s;
}
.resetButton{
    border: bold;
    background: rgb(253, 141, 141);
    padding: 4px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 13px;
    transition: .4s;
}
.jobs{
    list-style-image: linear-gradient(to left bottom, black, pink );
    
}
.grade{
    list-style-image: linear-gradient(to right bottom, black, rgb(255, 250, 192) );
    
}